/* *{
  font-size:1.2em;
}

button{
  width:50px;
  height:35px;
}

body{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
} */

.letra{
  border-bottom: solid #000 1px;
  margin: 5px;
}

.raid{
  color: transparent;
}
